# Ignorar tudo na raiz
/*

# Manter o próprio .gitignore
!/.gitignore

# Permitir o projeto Power BI
!/CantuStore_PowerBI/

# Permitir somente data/raw
!/data/
/data/*
!/data/raw/

# Permitir notebooks e SQL
!/NOTEBOOKS/
!/sql/

# Ignorar caches e arquivos locais
**/__pycache__/
**/.ipynb_checkpoints/
**/.pbi/

/README.md
/requirements.txt
!/.gitattributes
